In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/davidguenoun/code/davidguenoun/wagon_final_project_netflix/Netflix/raw_data/full_data_merged.csv")

##Categorize the "Released Feature"

In [3]:
# fill the missing values

In [4]:
df["Released"] = df["Released"].fillna("Non Available")

In [5]:
#create a function that removes digit
def remove_digit(x):
    return ''.join([i for i in x if not i.isdigit()]).strip()

In [6]:
df["Released_month"] = df["Released"].apply(remove_digit)

In [7]:
df[["Released_month"]].value_counts()

Released_month
Oct               1240
Sep               1074
Apr               1070
Mar               1027
Dec                990
Nov                987
Jun                971
Jan                947
Feb                934
May                933
Aug                900
Jul                823
Non Available      484
dtype: int64

In [8]:
df

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings,Released_month
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003â€“,NaN,14 Dec 2003,50 min,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN,Mar
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN,Nov
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,Non Available,83 min,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non Available
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN,Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN,Oct
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN,Jan
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN,Nov
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN,May
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN,Jul

In [10]:
df = df.drop(columns ="Released")

KeyError: "['Released'] not found in axis"

In [11]:
df

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Runtime,Genre,...,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings,Released_month
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003â€“,NaN,50 min,"Documentary, Animation, Family",...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec
1,3,1997.0,Character,3.641153,2012,Character,1997,R,122 min,"Crime, Drama, Mystery",...,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN,Mar
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,90 min,Documentary,...,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN,Nov
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,83 min,"Action, Sci-Fi",...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non Available
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,100 min,"Action, Drama",...,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN,Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,92 min,Drama,...,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN,Oct
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,123 min,"Comedy, Drama, History, Romance",...,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN,Jan
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,96 min,"Sci-Fi, Thriller",...,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN,Nov
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,112 min,"Drama, Music, Romance",...,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN,May
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,92 min,"Action, Adventure, Sci-Fi",...,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN,Jul

In [19]:
df[['Runtime']].value_counts()

Runtime
90 min        509
95 min        359
100 min       349
91 min        318
94 min        312
             ...
510 min         1
287 min         1
292 min         1
296 min         1
1 h 20 min      1
Length: 297, dtype: int64

In [15]:
import re
def clean_runtime(x):
            counter = 0
            if 'h' in x:
                counter += int(x[0]) * 60
                x = re.sub('.*h', '', x).strip()
            x = x.replace('min', '').replace(',','').strip()
            counter += int(x)
            return counter

In [20]:
df["Runtime"] =  df[["Runtime"]].apply(clean_runtime)

AttributeError: 'Series' object has no attribute 'strip'